<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="gestion_reciclaje" connectionString="Data Source=ServerName;Initial Catalog=gestion_reciclaje;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- Otras configuraciones existentes -->
    <compilation debug="true"/>
  </system.web>
</configuration>